@page "/searchtour"
@using ReserveApp.Data
@using ReserveApp.Services
@using System.Security.Claims
@inject ITourService tourService
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider authenticationStateProvider

<h3>Search Tours</h3>
<div class="text-success">@successText</div>
<div>
    <h4>All Tours:</h4>
    <form>
        <div class="input-group  mb-3">
            <div class="input-group-prepend form-floating">
                <input type="date" id="startDate" class="form-control" @bind="startDate" aria-required="true" />
                <label asp-for="startDate" class="form-label">Start Date</label>
                <span asp-validation-for="startDate" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input type="date" id="endDate" class="form-control" @bind="endDate" aria-required="true" />
                <label asp-for="endDate" class="form-label">End Date</label>
                <span asp-validation-for="endDate" class="text-danger"></span>
            </div>
        </div>
        <button class="btn btn-sm btn-primary" type="button" @onclick="SearchTours">Search</button>
    </form>
    <div class="row">
        @if (searchResults.Any())
        {
            <h4>Search Results:</h4>
            @foreach (var tour in searchResults)
            {
                <div class="col-6 mb-3" style="border: 1px solid #eee;">
                    <h2>@tour.Name</h2>
                    <div class="text-primary">
                        Cost: $@tour.Cost <br/>
                        Available Spaces: @tour.AvailableSpaces
                        <div>
                            <button class="btn btn-outline-secondary" @onclick="() => InitiateReservation(tour)">Make Reservation</button>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            @* <p>No results found.</p>
        <hr /> *@
            @foreach (var tour in allTours)
            {
                <div class="col-6 mb-3" style="border: 1px solid #eee;">
                    <h2>@tour.Name</h2>
                    <div class="text-primary">
                        Cost: $@tour.Cost <br />
                        Available Spaces: @tour.AvailableSpaces
                        <div>
                            <button class="btn btn-outline-secondary" @onclick="() => InitiateReservation(tour)">Make Reservation</button>
                        </div>
                    </div>
                </div>
            }
        }

    </div>
</div>

<hr />

<TourReservation @ref="reservationModal" OnReservationComplete="HandleReservationComplete" />

@code {
    private string successText = ":";
    private List<Tour> allTours = new List<Tour>(); // Initialize with all tours
    private List<Tour> searchResults = new List<Tour>();
    private DateTime? startDate = DateTime.Now;
    private DateTime? endDate = DateTime.Now;

    private string userId;

    private Tour selectedTour;
    private TourReservation reservationModal;

    protected override async Task OnInitializedAsync()
    {
        // Load all tours when the page is initialized

        await LoadTourData();

        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        // Get the user ID
        userId = user.FindFirstValue(ClaimTypes.NameIdentifier);

    }

    private async Task SearchTours()
    {
        if (startDate.HasValue && endDate.HasValue)
        {
            // Perform search based on tours without reservations in the specified date range
            searchResults = await tourService.SearchToursByDateRange(startDate.Value, endDate.Value);
        }
        else
        {
            // No date range specified, display all tours
            searchResults = allTours;
        }
    }

    private void InitiateReservation(Tour tour)
    {
        // Show the reservation modal or navigate to reservation page
        selectedTour = tour;
        reservationModal.Show(selectedTour, (DateTime)startDate, (DateTime)endDate, userId);
    }

    private async Task HandleReservationComplete()
    {
        successText = "Reservation Completed";
        // refresh the tour data
        await LoadTourData();
    }

    private async Task LoadTourData()
    {
        allTours = await tourService.GetAllTours();
    }
}
