@page "/searchholiday"
@using ReserveApp.Data
@using ReserveApp.Services
@using System.Security.Claims
@inject IHotelService hotelService
@inject ITourService tourService
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider authenticationStateProvider

<h3>Search Holidays</h3>
<div class="text-success">@successText</div>
<div>
    <h4>All Holidays:</h4>
    <form>
        <div class="input-group  mb-3">
            <div class="input-group-prepend form-floating">
                <input type="date" id="startDate" class="form-control" @bind="startDate" aria-required="true" />
                <label asp-for="startDate" class="form-label">Start Date</label>
                <span asp-validation-for="startDate" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input type="date" id="endDate" class="form-control" @bind="endDate" aria-required="true" />
                <label asp-for="endDate" class="form-label">End Date</label>
                <span asp-validation-for="endDate" class="text-danger"></span>
            </div>
        </div>
        <button class="btn btn-sm btn-primary" type="button" @onclick="SearchHolidays">Search</button>
    </form>
    <div class="row">
        @if (searchTours.Any() && searchHotels.Any())
        {
            <h4>Search Results:</h4>
            <h5>Tours</h5>
            @foreach (var tour in searchTours)
            {
                <div class="col-6 mb-3" style="border: 1px solid #eee;">
                    <h2>@tour.Name</h2>
                    <div class="text-primary">
                        Cost: $@tour.Cost <br />
                        Available Spaces: @tour.AvailableSpaces
                        <div>
                            <button class="btn btn-outline-@(selectedTour.TourId == tour.TourId ? "success" : "secondary")" @onclick="() => SelectTour(tour)">Select</button>
                        </div>
                    </div>
                </div>
            }
            <h5>Hotels</h5>
            @foreach (var hotel in searchHotels)
            {
                <div class="col-6 mb-3" style="border: 1px solid #eee;">
                    <h2>@hotel.Name</h2>
                    <div class="text-primary">
                        Single: $@hotel.SingleBedPrice ( @hotel.AvailableRooms[RoomType.Single] )
                        Double: $@hotel.DoubleBedPrice ( @hotel.AvailableRooms[RoomType.Double] )
                        Suite: $@hotel.FamilySuitePrice ( @hotel.AvailableRooms[RoomType.FamilySuite] )
                        <div>
                            <button class="btn btn-outline-@(selectedHotel.HotelId == hotel.HotelId ? "success" : "secondary")" @onclick="() => SelectHotel(hotel)">Select</button>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            @* <p>No results found.</p>
        <hr /> *@
            @foreach (var tour in searchTours)
            {
                <div class="col-6 mb-3" style="border: 1px solid #eee;">
                    <h2>@tour.Name</h2>
                    <div class="text-primary">
                        Cost: $@tour.Cost <br />
                        Available Spaces: @tour.AvailableSpaces
                        <div>
                            <button class="btn btn-outline-@(selectedTour.TourId == tour.TourId ? "success" : "secondary")" @onclick="() => SelectTour(tour)">Select</button>
                        </div>
                    </div>
                </div>
            }
            <h5>Hotels</h5>
            @foreach (var hotel in searchHotels)
            {
                <div class="col-6 mb-3" style="border: 1px solid #eee;">
                    <h2>@hotel.Name</h2>
                    <div class="text-primary">
                        Single: $@hotel.SingleBedPrice ( @hotel.AvailableRooms[RoomType.Single] )
                        Double: $@hotel.DoubleBedPrice ( @hotel.AvailableRooms[RoomType.Double] )
                        Suite: $@hotel.FamilySuitePrice ( @hotel.AvailableRooms[RoomType.FamilySuite] )
                        <div>
                            <button class="btn btn-outline-@(selectedHotel.HotelId == hotel.HotelId ? "success" : "secondary")" @onclick="() => SelectHotel(hotel)">Select</button>
                        </div>
                    </div>
                </div>
            }
        }

    </div>
</div>

<hr />

<HolidayReservation @ref="reservationModal" OnReservationComplete="HandleReservationComplete" />

@code {
    private string successText = ":";
    private List<Hotel> allHotels = new List<Hotel>();
    private List<Tour> allTours = new List<Tour>();
    private List<Hotel> searchHotels = new List<Hotel>();
    private List<Tour> searchTours = new List<Tour>();
    private DateTime? startDate = DateTime.Now;
    private DateTime? endDate = DateTime.Now;

    private string userId;

    private Hotel selectedHotel;
    private Tour selectedTour;
    private HolidayReservation reservationModal;

    protected override async Task OnInitializedAsync()
    {
        // Load all holidays when the page is initialized

        await LoadHolidayData();

        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        // Get the user ID
        userId = user.FindFirstValue(ClaimTypes.NameIdentifier);

    }

    private async Task SearchHolidays()
    {
        if (startDate.HasValue && endDate.HasValue)
        {
            // Perform search based on holidays without reservations in the specified date range
            searchHotels = await hotelService.SearchHotelsByDateRange(startDate.Value, endDate.Value);
            searchTours = await tourService.SearchToursByDateRange(startDate.Value, endDate.Value);
        }
        else
        {
            // No date range specified, display all holidays
            searchHotels = allHotels;
            searchTours = allTours;
        }
    }

    private void SelectHotel(Hotel hotel)
    {
        selectedHotel = hotel;
    }
    private void SelectTour(Tour tour)
    {
        selectedTour = tour;
    }

    private void InitiateReservation()
    {
        // Show the reservation modal or navigate to reservation page
        reservationModal.Show(selectedHotel, selectedTour, (DateTime)startDate.Value, (DateTime)startDate.Value.AddDays(selectedTour.Days), userId);
    }

    private async Task HandleReservationComplete()
    {
        successText = "Reservation Completed";
        // refresh the holiday data
        await LoadHolidayData();
    }

    private async Task LoadHolidayData()
    {
        allHotels = await hotelService.GetAllHotels();
        allTours = await tourService.GetAllTours();
    }
}
