@page "/searchhotel"
@using ReserveApp.Data
@using ReserveApp.Services
@using System.Security.Claims
@inject HotelService hotelService
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider authenticationStateProvider

<h3>Search Hotels</h3>

<div>
    <h4>All Hotels:</h4>
    <form>
        <div class="input-group  mb-3">
            <div class="input-group-prepend form-floating">
                <input type="date" id="startDate" class="form-control" @bind="startDate" aria-required="true" />
                <label asp-for="startDate" class="form-label">Start Date</label>
                <span asp-validation-for="startDate" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input type="date" id="endDate" class="form-control" @bind="endDate" aria-required="true" />
                <label asp-for="endDate" class="form-label">End Date</label>
                <span asp-validation-for="endDate" class="text-danger"></span>
            </div>
        </div>
        <button class="btn btn-sm btn-primary" type="button" @onclick="SearchHotels">Search</button>
    </form>
    <div class="row">
        @if (searchResults.Any())
        {
            <h4>Search Results:</h4>
            @foreach (var hotel in searchResults)
            {
                <div class="col-6 mb-3" style="border: 1px solid #eee;">
                    <h2>@hotel.Name</h2>
                    <div class="text-primary">
                        Single: $@hotel.SingleBedPrice ( @hotel.AvailableRooms[RoomType.Single] )
                        Double: $@hotel.DoubleBedPrice ( @hotel.AvailableRooms[RoomType.Double] )
                        Suite: $@hotel.FamilySuitePrice ( @hotel.AvailableRooms[RoomType.FamilySuite] )
                        <div>
                            <button class="btn btn-outline-secondary" @onclick="() => InitiateReservation(hotel)">Make Reservation</button>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            @* <p>No results found.</p>
        <hr /> *@
            @foreach (var hotel in allHotels)
            {
                <div class="col-6 mb-3" style="border: 1px solid #eee;">
                    <h2>@hotel.Name</h2>
                    <div class="text-primary">
                        Single: $@hotel.SingleBedPrice ( @hotel.AvailableRooms[RoomType.Single] )
                        Double: $@hotel.DoubleBedPrice ( @hotel.AvailableRooms[RoomType.Double] )
                        Suite: $@hotel.FamilySuitePrice ( @hotel.AvailableRooms[RoomType.FamilySuite] )
                        <div>
                            <button class="btn btn-outline-secondary" @onclick="() => InitiateReservation(hotel)">Make Reservation</button>
                        </div>
                    </div>
                </div>
            }
        }

    </div>
</div>

<hr />

<HotelReservation @ref="reservationModal" OnReservationComplete="HandleReservationComplete" />

@code {
    private List<Hotel> allHotels = new List<Hotel>(); // Initialize with all hotels
    private List<Hotel> searchResults = new List<Hotel>();
    private DateTime? startDate = DateTime.Now;
    private DateTime? endDate = DateTime.Now;
    
    private string userId;

    private Hotel selectedHotel;
    private HotelReservation reservationModal;

    protected override async Task OnInitializedAsync()
    {
        // Load all hotels when the page is initialized
        allHotels = await hotelService.GetAllHotels();

        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        // Get the user ID
        userId = user.FindFirstValue(ClaimTypes.NameIdentifier);

    }

    private async Task SearchHotels()
    {
        if (startDate.HasValue && endDate.HasValue)
        {
            // Perform search based on hotels without reservations in the specified date range
            searchResults = await hotelService.SearchHotelsByDateRange(startDate.Value, endDate.Value);
        }
        else
        {
            // No date range specified, display all hotels
            searchResults = allHotels;
        }
    }

    private void InitiateReservation(Hotel hotel)
    {
        // Show the reservation modal or navigate to reservation page
        selectedHotel = hotel;
        reservationModal.Show(selectedHotel, (DateTime)startDate, (DateTime)endDate, userId);
    }

    private async Task HandleReservationComplete()
    {
        // Handle any post-reservation logic, such as updating the UI
        // You may reload hotel data or perform other actions
        // This method is called when the user completes a reservation in the modal
        // You can refresh the hotel data or take any other necessary steps
        // For example: await LoadHotelData();
    }
}
